Repository osl-incubator/scicookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff format, ruff check

.pre-commit-config.yaml:

---
default_stages:
  - commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: "src/scicookie/"
      language: system
      pass_filenames: true
      # pre-commit + mypy doesn't honor the exclusion defined in the config
      exclude: |
        (?x)(
            src/scicookie/{{cookiecutter.project_slug}}/
          | src/scicookie/hooks
        )
      types:
        - python

    - id: ruff format
      name: ruff format
      entry: ruff format
      language: system
      pass_filenames: true
      files: "./"
      # pre-commit + ruff doesn't honor the exclusion defined in the config
      exclude: |
        (?x)(
            src/scicookie/{{cookiecutter.project_slug}}
          | src/scicookie/hooks
        )
      types:
        - python

    - id: ruff check
      name: ruff check
      entry: ruff check
      language: system
      pass_filenames: true
      files: "./"
      # pre-commit + ruff doesn't honor the exclusion defined in the config
      exclude: |
        (?x)(
            src/scicookie/{{cookiecutter.project_slug}}
          | src/scicookie/hooks
        )
      types:
        - python

feat: Add support for jinja2 template in the visibility attribute
  src/scicookie/profiles/base.yaml
  src/scicookie/ui.py
  tests/profiles/test-depends-on.yaml
  tests/test_cli.py
Due: mypy, ruff format, ruff check

feat: Add support for jinja2 template in the visibility attribute (#296)
  src/scicookie/profiles/base.yaml
  src/scicookie/ui.py
  tests/profiles/test-depends-on.yaml
  tests/test_cli.py
Due: mypy, ruff format, ruff check

fix: Fix template issue for mkdocs
  src/scicookie/{{cookiecutter.project_slug}}/docs-mkdocs/mkdocs.yaml
Due: none

fix: Fix template issue for mkdocs (#299)
  src/scicookie/{{cookiecutter.project_slug}}/docs-mkdocs/mkdocs.yaml
Due: none

test: Fix the usage of conda/mamba in the smoke test
  poetry.lock
  pyproject.toml
  tests/smoke/base.sh
Due: none

fix issues with ensureconda
  tests/smoke/base.sh
Due: none

fix usage of ensureconda
  tests/smoke/base.sh
Due: none

fix bash if condition
  tests/smoke/base.sh
Due: none

Fix code to allow correct generation of documentation with jupyter-book
  src/scicookie/{{cookiecutter.project_slug}}/.makim.yaml
  src/scicookie/{{cookiecutter.project_slug}}/Makefile
  src/scicookie/{{cookiecutter.project_slug}}/docs-jupyter-book/_config.yaml
Due: none

Fix code to allow correct generation of documentation with mkdocs and sphinx
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/{{cookiecutter.project_slug}}/docs-mkdocs/mkdocs.yaml
  src/scicookie/{{cookiecutter.project_slug}}/docs/api/references.md
  src/scicookie/{{cookiecutter.project_slug}}/virtualenvs/conda/dev.yaml
  src/scicookie/{{cookiecutter.project_slug}}/virtualenvs/pyenv/requirements.txt
Due: none

fix test_cli
  tests/test_cli.py
Due: ruff format, ruff check

adding options for Sphinx themes
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry/pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/docs-sphinx/conf.py
Due: none

default values
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/{{cookiecutter.project_slug}}/docs-mkdocs/mkdocs.yaml
  src/scicookie/{{cookiecutter.project_slug}}/docs-sphinx/conf.py
Due: none

fix condition and
  src/scicookie/ui.py
Due: mypy, ruff format, ruff check

fix default option
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/{{cookiecutter.project_slug}}/docs-mkdocs/mkdocs.yaml
  src/scicookie/{{cookiecutter.project_slug}}/docs-sphinx/conf.py
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
Due: none

adding documentation engine tests + themes
  .github/workflows/main.yaml
  .makim.yaml
  tests/smoke/docs-jupyter-book.sh
  tests/smoke/docs-mkdocs.sh
  tests/smoke/docs-quarto.sh
  tests/smoke/docs-sphinx.sh
  tests/smoke/docs.sh
Due: none

adding options for quarto themes
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/{{cookiecutter.project_slug}}/docs-quarto/_quarto.yml
Due: none

fixing options without spacing
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry/pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/docs-jupyter-book/_config.yaml
  src/scicookie/{{cookiecutter.project_slug}}/docs-sphinx/conf.py
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
Due: none

fix values
  src/scicookie/profiles/base.yaml
  src/scicookie/ui.py
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
Due: mypy, ruff format, ruff check

adding options for jupyter book themes
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry/pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/docs-jupyter-book/_config.yaml
Due: none

updating the guide (themes in the documentation engine)
  docs/guide.md
Due: none

Improving contributing and installation in template
  src/scicookie/{{cookiecutter.project_slug}}/docs/contributing.md
  src/scicookie/{{cookiecutter.project_slug}}/docs/installation.md
Due: none

updating visible attributes
  src/scicookie/profiles/base.yaml
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
  tests/test_cli.py
Due: ruff format, ruff check

updating options in osl profile
  src/scicookie/profiles/osl.yaml
Due: none

updating tests profiles and test_cli.py
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
  tests/test_cli.py
Due: ruff format, ruff check

fix violation md014
  src/scicookie/{{cookiecutter.project_slug}}/docs/contributing.md
Due: none

adding options for Mkdocs themes
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry/pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/docs-mkdocs/mkdocs.yaml
Due: none

fix details
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry/pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/docs-jupyter-book/_config.yaml
  src/scicookie/{{cookiecutter.project_slug}}/docs-mkdocs/mkdocs.yaml
  src/scicookie/{{cookiecutter.project_slug}}/docs-quarto/_quarto.yml
  src/scicookie/{{cookiecutter.project_slug}}/docs-sphinx/conf.py
  src/scicookie/{{cookiecutter.project_slug}}/docs/contributing.md
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
  tests/smoke/docs-jupyter-book.sh
  tests/smoke/docs-mkdocs.sh
  tests/smoke/docs-quarto.sh
  tests/smoke/docs-sphinx.sh
Due: none

Fix $
  src/scicookie/{{cookiecutter.project_slug}}/docs/contributing.md
Due: none

test: Fix the usage of conda/mamba in the smoke test (#300)
  poetry.lock
  pyproject.toml
  tests/smoke/base.sh
Due: none

Add documentation for Ruff
  docs/guide.md
Due: none

Add changes to if condition
  src/scicookie/{{cookiecutter.project_slug}}/.pre-commit-config.yaml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-config-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry/pyproject.toml
Due: none

create ruff_linter and ruff_formatter
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.pre-commit-config.yaml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-config-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry/pyproject.toml
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
  tests/smoke/linters.sh
Due: none

add quote-style to ruff_formatter
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-config-pyproject.toml
Due: none
