Repository osl-incubator/scicookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff format, ruff check

.pre-commit-config.yaml:

---
default_stages:
  - commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
    - id: mypy
      name: mypy
      entry: mypy
      files: "src/scicookie/"
      language: system
      pass_filenames: true
      # pre-commit + mypy doesn't honor the exclusion defined in the config
      exclude: |
        (?x)(
            src/scicookie/{{cookiecutter.project_slug}}/
          | src/scicookie/hooks
        )
      types:
        - python

    - id: ruff format
      name: ruff format
      entry: ruff format
      language: system
      pass_filenames: true
      files: "./"
      # pre-commit + ruff doesn't honor the exclusion defined in the config
      exclude: |
        (?x)(
            src/scicookie/{{cookiecutter.project_slug}}
          | src/scicookie/hooks
        )
      types:
        - python

    - id: ruff check
      name: ruff check
      entry: ruff check
      language: system
      pass_filenames: true
      files: "./"
      # pre-commit + ruff doesn't honor the exclusion defined in the config
      exclude: |
        (?x)(
            src/scicookie/{{cookiecutter.project_slug}}
          | src/scicookie/hooks
        )
      types:
        - python

fix: Fix the project generation for mesonpy build-system (#278)
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/{{cookiecutter.project_slug}}/build-system/mesonpy/main.cpp
  src/scicookie/{{cookiecutter.project_slug}}/build-system/mesonpy/meson.build
  tests/smoke/base.sh
Due: none

fix: Fix generation for maturin build-system
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/{{cookiecutter.project_slug}}/build-system/maturin/Cargo.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/maturin/lib.rs
  tests/smoke/base.sh
Due: none

fix: Fix generation for maturin build-system (#279)
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/{{cookiecutter.project_slug}}/build-system/maturin/Cargo.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/maturin/lib.rs
  tests/smoke/base.sh
Due: none

fix: Remove unnecessary dependencies
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry/pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/setuptools/pyproject.toml
Due: none

fix typo
  src/scicookie/{{cookiecutter.project_slug}}/build-system/setuptools/pyproject.toml
Due: none

add initial conditional question workflow
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/ui.py
Due: mypy, ruff format, ruff check

fix typo
  src/scicookie/profiles/base.yaml
Due: none

update conditional questions functions
  src/scicookie/cookiecutter.json
  src/scicookie/profiles/base.yaml
  src/scicookie/ui.py
Due: mypy, ruff format, ruff check

move back to cookiecutter
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  README.md
  docs/description.md
  docs/index.md
  poetry.lock
  pyproject.toml
  src/scicookie/__init__.py
  src/scicookie/cli.py
  src/scicookie/{{cookiecutter.project_slug}}/docs/index.md
  tests/smoke/base.sh
Due: mypy, ruff format, ruff check

fix: Move back to cookiecutter (#284)
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  README.md
  docs/description.md
  docs/index.md
  poetry.lock
  pyproject.toml
  src/scicookie/__init__.py
  src/scicookie/cli.py
  src/scicookie/{{cookiecutter.project_slug}}/docs/index.md
  tests/smoke/base.sh
Due: mypy, ruff format, ruff check

fix: Fix usage of scicookie for pipx
  poetry.lock
  pyproject.toml
  src/scicookie/cli.py
Due: mypy, ruff format, ruff check

fix: fix workflow using cookiecutter api
  poetry.lock
  pyproject.toml
  src/scicookie/cli.py
Due: mypy, ruff format, ruff check

add note about nodejs wheel v20.23
  pyproject.toml
Due: none

fix nodejs-wheel pinning
  poetry.lock
  pyproject.toml
Due: none

add other OS to the matrix strategy
  .github/workflows/main.yaml
Due: none

add alternative workflow for conda for windows
  .github/workflows/main.yaml
  conda/dev-win.yaml
Due: none

fix quotes
  .github/workflows/main.yaml
Due: none

fix workflow for windows
  .github/workflows/main.yaml
Due: none

fix: Fix usage of scicookie for pipx (#285)
  .github/workflows/main.yaml
  conda/dev-win.yaml
  poetry.lock
  pyproject.toml
  src/scicookie/cli.py
Due: mypy, ruff format, ruff check

Notes added by 'git notes add'
  fb600946f34cd780c8785b87319642a0372ee0b0
Due: none

chore(release): 0.8.2
  CHANGELOG.md
  pyproject.toml
Due: none

deploy: 41b80b88d9b93a26298ae51f610ab21c44d6066d
  404.html
  assets/javascripts/bundle.a7c05c9e.min.js
  assets/javascripts/bundle.a7c05c9e.min.js.map
  assets/javascripts/bundle.dd8806f2.min.js
  assets/javascripts/bundle.dd8806f2.min.js.map
  changelog/index.html
  conduct/index.html
  contributing/index.html
  description/description.md
  description/index.html
  guide/index.html
  index.html
  index.md
  install/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Fix support for pipx
  README.md
  src/scicookie/cli.py
  src/scicookie/hooks/post_gen_project.py
Due: mypy, ruff format, ruff check

fix: Fix support for pipx (#286)
  README.md
  src/scicookie/cli.py
  src/scicookie/hooks/post_gen_project.py
Due: mypy, ruff format, ruff check

chore(release): 0.8.3
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  1c53aade6ca1548d787bae2582d1097febc8f258
Due: none

deploy: 0e5b1251becf4cec319fb74ceb3a11dc4f704212
  changelog/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

tests: Add tests for scicookie CLI
  poetry.lock
  pyproject.toml
  src/scicookie/cli.py
  src/scicookie/profiles/base.yaml
  src/scicookie/ui.py
  tests/profiles/test-main.yaml
  tests/test_cli.py
Due: mypy, ruff format, ruff check

fix issues with test
  src/scicookie/profiles/base.yaml
  tests/profiles/test-main.yaml
  tests/test_cli.py
Due: ruff format, ruff check

use temp dir for the output
  tests/test_cli.py
Due: ruff format, ruff check

improve tests with class
  tests/test_cli.py
Due: ruff format, ruff check

skip test cli for non linux
  tests/test_cli.py
Due: ruff format, ruff check

tests: Add tests for scicookie CLI (#287)
  poetry.lock
  pyproject.toml
  src/scicookie/cli.py
  src/scicookie/ui.py
  tests/profiles/test-main.yaml
  tests/test_cli.py
Due: mypy, ruff format, ruff check

adding check_dependencies_satisfied function
  src/scicookie/ui.py
Due: mypy, ruff format, ruff check

default answer to confirm question
  src/scicookie/cli.py
Due: mypy, ruff format, ruff check

Standardising chains
  src/scicookie/profiles/base.yaml
Due: none

adding new test profile
  tests/profiles/test-conditional.yaml
  tests/test_cli.py
Due: ruff format, ruff check

fix test-conditional
  tests/profiles/test-conditional.yaml
Due: none

feat: Add initial mechanism for conditional question
  src/scicookie/profile.py
  src/scicookie/ui.py
  tests/profiles/test-depends-on.yaml
  tests/test_cli.py
Due: mypy, ruff format, ruff check

feat: Add initial mechanism for conditional question (#291)
  src/scicookie/profile.py
  src/scicookie/ui.py
  tests/profiles/test-depends-on.yaml
  tests/test_cli.py
Due: mypy, ruff format, ruff check
