Repository osl-incubator/scicookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, ruff

.pre-commit-config.yaml:

---
default_stages:
  - commit

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
    - id: black
      entry: black
      name: black
      language: system
      pass_filenames: true
      types:
        - python

    - id: mypy
      name: mypy
      entry: mypy
      files: "src/scicookie/"
      language: system
      pass_filenames: true
      # pre-commit + mypy doesn't honor the exclusion defined in the config
      exclude: |
        (?x)(
            src/scicookie/{{cookiecutter.project_slug}}/
          | src/scicookie/hooks
        )
      types:
        - python

    - id: ruff
      name: ruff
      entry: ruff --no-cache --fix
      language: system
      pass_filenames: true
      files: "./"
      # pre-commit + ruff doesn't honor the exclusion defined in the config
      exclude: |
        (?x)(
            src/scicookie/{{cookiecutter.project_slug}}
          | src/scicookie/hooks
        )
      types:
        - python

fix issues with hatch
  tests/smoke/base.sh
Due: none

fix: Fix issues with docs, makim/make, release, and CI (#182)
  .github/workflows/main.yaml
  LICENSE
  docs/guide.md
  pyproject.toml
  src/scicookie/cookiecutter.json
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/profiles/base.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.editorconfig
  src/scicookie/{{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE.md
  src/scicookie/{{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE/bug-report.yml
  src/scicookie/{{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE/config.yml
  src/scicookie/{{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE/documentation-report.yml
  src/scicookie/{{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE/feature-request.yml
  src/scicookie/{{cookiecutter.project_slug}}/.github/workflows/main.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.github/workflows/release.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.makim.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.releaserc.json
  src/scicookie/{{cookiecutter.project_slug}}/Makefile
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/flit-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/hatch-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/maturin-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/mesonpy-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/pdm-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/pybind11-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/scikit-build-core-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/setuptools-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/conda/dev.yaml
  src/scicookie/{{cookiecutter.project_slug}}/tests/test_{{cookiecutter.package_slug}}.py
  tests/smoke/automation.sh
  tests/smoke/base.sh
Due: black

chore(release): 0.6.2
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  0960942c4c02e1eb3ddd01a6a024762b291d40c6
Due: none

deploy: 12efe9a1b2990051efb18131b1aee39ed5e8155f
  _sources/guide.md
  guide.html
Due: none

Typing :: Typed should be optional
  src/scicookie/{{cookiecutter.project_slug}}/build-system/flit-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/hatch-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/maturin-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/mesonpy-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/pdm-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/pybind11-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/scikit-build-core-pyproject.toml
Due: none

Typing :: Typed should be optional (#185)
  src/scicookie/{{cookiecutter.project_slug}}/build-system/flit-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/hatch-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/maturin-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/mesonpy-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/pdm-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/pybind11-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/scikit-build-core-pyproject.toml
Due: none

Adding virtualenv
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/{{cookiecutter.project_slug}}/.github/workflows/main.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.github/workflows/release.yaml
  src/scicookie/{{cookiecutter.project_slug}}/virtualenvs/conda/dev.yaml
  src/scicookie/{{cookiecutter.project_slug}}/virtualenvs/pyenv/requirements.txt
Due: black

Updating guide
  docs/guide.md
Due: none

Fix end of files
  src/scicookie/{{cookiecutter.project_slug}}/virtualenvs/conda/dev.yaml
  src/scicookie/{{cookiecutter.project_slug}}/virtualenvs/pyenv/requirements.txt
Due: none

Fix unnecessary space
  .github/PULL_REQUEST_TEMPLATE.md
  src/scicookie/{{cookiecutter.project_slug}}/.github/PULL_REQUEST_TEMPLATE.md
Due: none

perf(template): Improving the git workflow for the template (#162)
  .github/PULL_REQUEST_TEMPLATE.md
  docs/guide.md
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/{{cookiecutter.project_slug}}/.github/PULL_REQUEST_TEMPLATE.md
  src/scicookie/{{cookiecutter.project_slug}}/.github/workflows/main.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.github/workflows/release.yaml
  src/scicookie/{{cookiecutter.project_slug}}/virtualenvs/conda/dev.yaml
  src/scicookie/{{cookiecutter.project_slug}}/virtualenvs/pyenv/requirements.txt
Due: black

#187 Include a dynamic attr TOML table
  src/scicookie/{{cookiecutter.project_slug}}/build-system/setuptools-pyproject.toml
Due: none

#187 Fix tests; use `package_slug` instead to correctly parse version
  src/scicookie/{{cookiecutter.project_slug}}/build-system/setuptools-pyproject.toml
Due: none

fix: Add a dynamic version attribute for the `setuptools` build-backend (#188)
  src/scicookie/{{cookiecutter.project_slug}}/build-system/setuptools-pyproject.toml
Due: none

fix: Fix profile's mechanism and update OSL profile
  .pre-commit-config.yaml
  conda/dev.yaml
  poetry.lock
  pyproject.toml
  src/scicookie/cli.py
  src/scicookie/logs.py
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/ui.py
Due: black, mypy, ruff

fix: Fix profile's mechanism and update OSL profile
  .makim.yaml
Due: none

fix clean command
  .makim.yaml
Due: none

fix git workflow
  src/scicookie/__init__.py
  src/scicookie/cli.py
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/ui.py
  src/scicookie/{{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE/bug-report.yml
  src/scicookie/{{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE/config.yml
  src/scicookie/{{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE/documentation-report.yml
  src/scicookie/{{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE/feature-request.yml
Due: black, mypy, ruff

fix remain issue with git workflow
  src/scicookie/hooks/post_gen_project.py
Due: black

fix profile flag
  pyproject.toml
  src/scicookie/cli.py
  src/scicookie/profile.py
Due: black, mypy, ruff

fix remain issues
  src/scicookie/cookiecutter.json
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/ui.py
Due: black, mypy, ruff

apply changes from the review
  pyproject.toml
Due: none

fix: Fix profile's mechanism and update OSL profile (#189)
  .makim.yaml
  .pre-commit-config.yaml
  conda/dev.yaml
  poetry.lock
  pyproject.toml
  src/scicookie/__init__.py
  src/scicookie/cli.py
  src/scicookie/cookiecutter.json
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/logs.py
  src/scicookie/profile.py
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/ui.py
  src/scicookie/{{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE/bug-report.yml
  src/scicookie/{{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE/config.yml
  src/scicookie/{{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE/documentation-report.yml
  src/scicookie/{{cookiecutter.project_slug}}/.github/ISSUE_TEMPLATE/feature-request.yml
Due: black, mypy, ruff

chore(release): 0.6.3
  CHANGELOG.md
  pyproject.toml
Due: none

Notes added by 'git notes add'
  adebff97c9d08f9b3211d3f49180c7f7c05f5775
Due: none

deploy: 4eaf7b4c1cadcdb6293b71b791ad66551afe6dcb
  .buildinfo
  _sources/guide.md
  _static/documentation_options.js
  _static/scripts/bootstrap.js
  _static/scripts/bootstrap.js.LICENSE.txt
  _static/scripts/bootstrap.js.map
  _static/scripts/pydata-sphinx-theme.js
  _static/scripts/pydata-sphinx-theme.js.map
  _static/styles/bootstrap.css
  _static/styles/bootstrap.css.map
  _static/styles/pydata-sphinx-theme.css
  _static/styles/pydata-sphinx-theme.css.map
  _static/vendor/fontawesome/6.1.2/js/all.min.js
  _static/vendor/fontawesome/6.1.2/js/all.min.js.LICENSE.txt
  _static/webpack-macros.html
  contributing.html
  genindex.html
  guide.html
  intro.html
  search.html
  searchindex.js
Due: none

Removed blue formatter from docs an .toml files
  CHANGELOG.md
  README.md
  docs/guide.md
  src/scicookie/cookiecutter.json
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/profiles/base.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.pre-commit-config.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.releaserc.json
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/flit-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/hatch-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/maturin-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/mesonpy-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/pdm-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/pybind11-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/scikit-build-core-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/setuptools-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/{{cookiecutter.package_slug}}/__init__.py
  src/scicookie/{{cookiecutter.project_slug}}/{{cookiecutter.package_slug}}/__main__.py
  tests/smoke/auto-format-tools.sh
Due: black

Removed unneccessary formating code
  CHANGELOG.md
  README.md
  src/scicookie/hooks/post_gen_project.py
  tests/smoke/auto-format-tools.sh
Due: black

Removed blue choice in base.yaml
  src/scicookie/profiles/base.yaml
Due: none

Removed occurrences of validation
  src/scicookie/hooks/post_gen_project.py
Due: black

Changed elif to if for using black
  src/scicookie/{{cookiecutter.project_slug}}/{{cookiecutter.package_slug}}/__main__.py
Due: black

demo
  tests/smoke/automation.sh
Due: none

mkdocs.yaml moved to root folder.
  src/scicookie/hooks/post_gen_project.py
  tests/smoke/automation.sh
Due: black

mkdocs.yaml moved to root folder.
  src/scicookie/hooks/post_gen_project.py
Due: black

moved mkdocs.yaml to root folder
  src/scicookie/hooks/post_gen_project.py
Due: black

fix(actions): update setup-miniconda to v3
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.github/workflows/main.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.github/workflows/release.yaml
Due: none

docs: Update local dev setup instructions
  CONTRIBUTING.md
  docs/contributing.md
  src/scicookie/{{cookiecutter.project_slug}}/docs/contributing.md
Due: none

Fix the failing CI
  pyproject.toml
  src/scicookie/cli.py
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base-pyproject.toml
Due: black, mypy, ruff

Update ruff version
  src/scicookie/{{cookiecutter.project_slug}}/.pre-commit-config.yaml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/flit-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/hatch-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/maturin-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/mesonpy-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/pdm-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/scikit-build-core-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/setuptools-pyproject.toml
Due: none
