Repository osl-incubator/scicookie: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff format, ruff check

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: true

ruff format:
  name: ruff format
  entry: ruff format
  language: system
  pass_filenames: true

ruff check:
  name: ruff check
  entry: ruff check
  language: system
  pass_filenames: true

test_azure_pipelines.py should raise issues, otherwise the test will pass even when there is issues
  tests/scripts/test_azure_pipelines.py
Due: ruff format, ruff check

the test script for azure pipelines should break the ci if it fails
  tests/smoke/ci.sh
Due: none

Fix ruff check
  tests/scripts/test_azure_pipelines.py
Due: ruff format, ruff check

Rename file
  tests/scripts/check_azure_pipelines.py
  tests/smoke/ci.sh
Due: ruff format, ruff check

feat(template): Adding azure-pipelines to template (#317)
  docs/guide.md
  src/scicookie/cookiecutter.json
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/profiles/base.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.circleci/config.yml
  src/scicookie/{{cookiecutter.project_slug}}/azure-pipelines.yml
  src/scicookie/{{cookiecutter.project_slug}}/virtualenvs/conda/dev.yaml
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
  tests/scripts/check_azure_pipelines.py
  tests/smoke/ci.sh
  tests/smoke/schemas/azure-pipelines.json
Due: ruff format, ruff check

first version .gitlab-ci.yml file
  src/scicookie/{{cookiecutter.project_slug}}/.gitlab-ci.yml
Due: none

update
  src/scicookie/{{cookiecutter.project_slug}}/scripts/check-gitlab-ci.sh
Due: none

english content
  src/scicookie/{{cookiecutter.project_slug}}/scripts/check-gitlab-ci.sh
Due: none

first changes adding gitlab ci
  src/scicookie/cookiecutter.json
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/profiles/base.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.gitlab-ci.yml
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
  tests/smoke/ci.sh
Due: none

change path
  src/scicookie/{{cookiecutter.project_slug}}/scripts/check-gitlab-ci.sh
Due: none

update shellcheck warnings
  tests/smoke/scripts/check-gitlab-ci.sh
Due: none

add lint for .gitlab-ci.yml file
  src/scicookie/{{cookiecutter.project_slug}}/scripts/check-gitlab-ci.sh
Due: none

update configuration files for gitlab ci
  src/scicookie/{{cookiecutter.project_slug}}/.gitlab-ci.yml
  src/scicookie/{{cookiecutter.project_slug}}/scripts/check-gitlab-ci.sh
Due: none

update smoke test check-gitlab-ci.yml
  tests/smoke/scripts/check-gitlab-ci.sh
Due: none

update post_gen_project file
  src/scicookie/hooks/post_gen_project.py
Due: none

add schema for validate file
  tests/smoke/schemas/gitlab-ci-schema.json
Due: none

update test file
  src/scicookie/{{cookiecutter.project_slug}}/scripts/check-gitlab-ci.sh
Due: none

add code error 1
  tests/smoke/scripts/check-gitlab-ci.sh
Due: none

add check to smoke tests
  tests/smoke/ci.sh
Due: none

update ci.sh test
  tests/smoke/ci.sh
Due: none

update files
  src/scicookie/hooks/post_gen_project.py
  tests/smoke/ci.sh
Due: none

fix prettier bug
  tests/smoke/schemas/gitlab-ci-schema.json
Due: none

update file name
  tests/smoke/ci.sh
Due: none

use of the schema approach
  tests/scripts/check_schema.py
  tests/smoke/ci.sh
  tests/smoke/schemas/gitlab-ci.json
  tests/smoke/scripts/check-gitlab-ci.sh
Due: ruff format, ruff check

fix ruff_format bug
  tests/scripts/check_schema.py
Due: ruff format, ruff check

change name file
  tests/scripts/check_schema.py
Due: ruff format, ruff check

add popd command
  tests/smoke/ci.sh
Due: none

documentation for gitlab ci
  docs/guide.md
Due: none

fix prettier bug
  docs/guide.md
Due: none

feat: Add gitlab ci to the template (#316)
  docs/guide.md
  src/scicookie/cookiecutter.json
  src/scicookie/hooks/post_gen_project.py
  src/scicookie/profiles/base.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.gitlab-ci.yml
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
  tests/scripts/check_schema.py
  tests/smoke/ci.sh
  tests/smoke/schemas/gitlab-ci.json
Due: ruff format, ruff check

refactor: Split build system config by tool
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-bandit.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-black.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-isort.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-mypy.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-pytest.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-ruff.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-vulture.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-config-pyproject.toml
  tests/scripts/check_schema.py
  tests/smoke/ci.sh
Due: ruff format, ruff check

update pre-commit hook default stages
  src/scicookie/{{cookiecutter.project_slug}}/.pre-commit-config.yaml
Due: none

fix issues with .github in the osl profile
  .editorconfig
  .makim.yaml
  conda/dev-win.yaml
  conda/dev.yaml
  poetry.lock
  pyproject.toml
  src/scicookie/cli.py
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.editorconfig
  src/scicookie/{{cookiecutter.project_slug}}/.github/workflows/main.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.makim.yaml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-config-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry/pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/containers/compose.yaml
Due: mypy, ruff format, ruff check

fix typos
  docs/guide.md
  src/scicookie/{{cookiecutter.project_slug}}/.github/workflows/main.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.github/workflows/release.yaml
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
Due: none

fix typo
  .github/workflows/main.yaml
  .makim.yaml
  README.md
  docs/contributing.md
  docs/index.md
  docs/install.md
  src/scicookie/{{cookiecutter.project_slug}}/.makim.yaml
Due: none

fix: Split build system config by tools, fix typos, and fix the `default` attribute in profile (#323)
  .editorconfig
  .github/workflows/main.yaml
  .makim.yaml
  README.md
  conda/dev-win.yaml
  conda/dev.yaml
  docs/contributing.md
  docs/guide.md
  docs/index.md
  docs/install.md
  poetry.lock
  pyproject.toml
  src/scicookie/cli.py
  src/scicookie/profiles/base.yaml
  src/scicookie/profiles/osl.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.editorconfig
  src/scicookie/{{cookiecutter.project_slug}}/.github/workflows/main.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.github/workflows/release.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.makim.yaml
  src/scicookie/{{cookiecutter.project_slug}}/.pre-commit-config.yaml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-bandit.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-black.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-isort.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-mypy.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-pytest.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-ruff.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/config-vulture.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-config-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/base/dev-deps-pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/build-system/poetry/pyproject.toml
  src/scicookie/{{cookiecutter.project_slug}}/containers/compose.yaml
  tests/profiles/test-depends-on.yaml
  tests/profiles/test-main.yaml
  tests/scripts/check_schema.py
  tests/smoke/ci.sh
Due: mypy, ruff format, ruff check

Notes added by 'git notes add'
  d1a12f6d9fea28594ed1cb8480e07fe39676d20a
Due: none

chore(release): 0.11.0
  CHANGELOG.md
  pyproject.toml
Due: none

deploy: 010a0dd2cb866027ac06483a954edf2f21a27438
  404.html
  assets/javascripts/bundle.525ec568.min.js
  assets/javascripts/bundle.525ec568.min.js.map
  assets/javascripts/bundle.83f73b43.min.js
  assets/javascripts/bundle.83f73b43.min.js.map
  assets/stylesheets/main.0253249f.min.css
  assets/stylesheets/main.0253249f.min.css.map
  assets/stylesheets/main.8c3ca2c6.min.css
  assets/stylesheets/main.8c3ca2c6.min.css.map
  changelog/changelog.md
  changelog/index.html
  conduct/conduct.md
  conduct/index.html
  contributing/contributing.md
  contributing/index.html
  description/description.md
  description/index.html
  guide/guide.md
  guide/index.html
  index.html
  index.md
  install/index.html
  install/install.md
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

doc: Update documentation for project and template
  README.md
  docs/description.md
  docs/guide.md
  docs/index.md
  src/scicookie/{{cookiecutter.project_slug}}/README.md
  src/scicookie/{{cookiecutter.project_slug}}/docs/contributing.md
  src/scicookie/{{cookiecutter.project_slug}}/docs/index.md
Due: none

Path conditions:
  mypy: any of: src/scicookie/ and \.py$ and not ((?x)(
    src/scicookie/{{cookiecutter.project_slug}}/
  | src/scicookie/hooks
)
)
  ruff format: any of: ./ and \.py$ and not ((?x)(
    src/scicookie/{{cookiecutter.project_slug}}
  | src/scicookie/hooks
)
)
  ruff check: any of: ./ and \.py$ and not ((?x)(
    src/scicookie/{{cookiecutter.project_slug}}
  | src/scicookie/hooks
)
)
